/* @import url('https://fonts.googleapis.com/css2?family=Beau+Rivage&family=Figtree:wght@300&display=swap'); */

/* 
@import url('https://fonts.googleapis.com/css2?family=Beau+Rivage&family=Figtree:wght@300&family=Raleway:ital,wght@0,200;0,300;0,400;0,700;1,200&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Beau+Rivage&family=Figtree:wght@300&family=Raleway:wght@200;300;400&display=swap');


* {
    margin: 0%;
    padding: 0%;
}

body {
    font-family: 'Beau Rivage', cursive;
    font-family: 'Figtree', sans-serif;
    margin: 0px 0px 0px 0px;
    /* font-weight: lighter; */
}

header {
    background-image: url(../img/fondo1.jpeg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    height: 650px;
    opacity: 1;
}

/* body header h1 {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 0px;
} */

.logoPrincipal {
    width: 20%;
    display: flex;
    margin-left: 40%;
}

nav {
    /* background-color: #F2DBAE !important; */
    opacity: 80%;
    height: 8%;
    text-align: center;
    padding-top: 1%;
    padding-bottom: -1%;
}

#navBar {
    background-color: #D6CEC1 !important;
}

.navegador {
    display: grid;
    grid-template-columns: 10% 13% 13% 13% 13% 15% 10%;
    grid-template-rows: 1fr;
    justify-content: space-between;
    text-align: center;
    font-size: 110%;
    font-weight: bolder;
}

/***Voy a juntar el boton de busqueda con el placeholder****/

.botonBuscar {
    display: flex;
    margin-left: -15%;
}

a {
    text-decoration: none !important;
    color: black !important;
}

#fotoLogoIndex {
    display: none;
}

/* header button {
    display: flex;
    text-align: justify;
    background-color: #D9B991;
    opacity: 80%;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25%;
    border: none;
    padding: 20px 30px 20px 30px;
    font-size: 25px;
    font-family: 'Beau Rivage', cursive;
    font-family: 'Figtree', sans-serif;
} */

.subtitulos {
    /* display: flex; 
    align-items: center;
    margin-left: 50%;
    margin-right: 50%; */
    font-size: 150%;
    text-align: center;
    font-family: 'Beau Rivage', cursive;
    font-family: 'Figtree', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    background-color: #EDE9E5;
}

section {
    /**display: flex;
    flex: 1;**/
    /**padding: 100px;**/
    background-color: #EDE9E5;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 25% 25%;
    grid-template-areas:
        div img
        p img;
    padding-top: 5%;
    padding-bottom: 5%;
}



section div p {
    font-family: 'Beau Rivage', cursive;
    font-family: 'Figtree', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}

section div {
    display: grid;
    gap: 50%;
    margin-left: 10%;
}

section img {
    width: 70%;
}

aside {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-left: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
    background-color: #F2F2F2;
    font-family: 'Beau Rivage', cursive;
    font-family: 'Figtree', sans-serif;
}

#botonComprar {
    background-color: #627370;
    border-color: #627370;
    align-items: center;
}

footer {
    display: flex;
    background-color: #D6C8C1;
    flex: 6;
    align-items: baseline;
    justify-content: space-between;
}

li {
    list-style: none;
    text-align: center;
}

/**
.redSocial {0
    text-align: left;
}
**/


footer h2 img {
    width: 150px;
}

.subFooter {
    font-size: 15px;
    text-align: center;
}

@media (min-width 560px) {
   

}
    